/* mobile styles*/
@media only screen and (max-width: 600px) {
#menu {
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
#banner {
    display: none;
}
#content {
    flex-direction: column;
    margin-top: 200px;
}
#item1 img {
    content: url(../images/Akribos1m.jpg);
    width: 80vw;
    height: calc(218 * (80vw / 320));
}
#item1 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
#item2 img {
    content: url(../images/Fossil1m.jpg);
    width: 80vw;
    height: calc(177 * (80vw / 320));
}
#item2 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
#item3 img {
    content: url(../images/Omega1m.jpg);
    width: 80vw;
    height: calc(364 * (80vw / 640));
}
#item3 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
#item4 img {
    content: url(../images/Invicta2m.jpg);
    width: 80vw;
    height: calc(223 * (80vw / 320));
}
#item4 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
#item5 img {
    content: url(../images/Lucien_Piccard1m.jpg);
    width: 80vw;
    height: calc(202 * (80vw / 320));
}
#item5 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
#item6 img {
    content: url(../images/Timex1m.jpg);
    width: 80vw;
    height: calc(209 * (80vw / 320));
}
#item6 div {
    width: 80vw;
    text-align: center;
    margin: 20px;
}
}

/* desktop styles*/
@media only screen and (min-width: 600px) {
#menu {
    flex-direction: row;
    align-items: flex-start;
    width: 100vw;
}
#menu div:nth-child(1) {
    margin-left: 150px;
}
#banner {
    display: block;
    width: 100vw;
    height: calc(250 * (100vw / 960));
    margin-top: 90px;    /* need to tweak this margin */
}
#content {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;
}
#item1 img {
    content: url(../images/Akribos1.jpg);
    width: 200px;
    /* total height = 360 + 20 = 380 px */
    height: 294px;     /* 320*(200/218)) */
    margin-top: 33px;  /* (360-294)/2    */
    margin-right: 30px;
    margin-bottom: 53px;     /* 33 + 20  */
    margin-left: 30px;
}
#item1 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
#item2 img {
    content: url(../images/Fossil1.jpg);
    width: 200px;
    height: 360px;     /*  320*(200/177)  */
    margin: 0 30px 20px 30px;
}
#item2 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
#item3 img {
    content: url(../images/Omega1.jpg);
    width: 200px;
    /* total height = 360 + 20 = 380 px */
    height: 352px;     /* 640*(200/364)) */
    margin-top: 4px;  /* (360-352)/2    */
    margin-right: 30px;
    margin-bottom: 24px;     /* 4 + 20  */
    margin-left: 30px;
}
#item3 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
#item4 img {
    content: url(../images/Invicta2.jpg);
    width: 200px;
    /* total height = 360 + 20 = 380 px */
    height: 287px;     /* 320*(200/223)) */
    margin-top: 37px;  /* (360-287)/2    */
    margin-right: 30px;
    margin-bottom: 56px;     /* 36 + 20  */
    margin-left: 30px;
}
#item4 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
#item5 img {
    content: url(../images/Lucien_Piccard1.jpg);
    width: 200px;
    /* total height = 360 + 20 = 380 px */
    height: 317px;     /* 320*(200/202)) */
    margin-top: 22px;  /* (360-317)/2    */
    margin-right: 30px;
    margin-bottom: 41px;     /* 21 + 20  */
    margin-left: 30px;
}
#item5 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
#item6 img {
    content: url(../images/Timex1.jpg);
    width: 200px;
    /* total height = 360 + 20 = 380 px */
    height: 306px;     /* 320*(200/209)) */
    margin-top: 27px;  /* (360-294)/2    */
    margin-right: 30px;
    margin-bottom: 47px;     /* 27 + 20  */
    margin-left: 30px;
}
#item6 div {
    margin-left: 65px;
    width: 150px;
    justify-content: center;
    margin-bottom: 40px;
}
}

/* shared styles */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#menu {
    display: flex;
    background-color: black;
    position: fixed;
    top: 0px;
}
#menu div {
    color: white;
    font-size: 16pt;
    padding: 20px;
}
#content {
    display: flex;
}